@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Raleway;
}

nav .active {
  line-height: 19.2px;
  color: #5ece7b;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 2px;
}
